[Unit]
Description=Webinar Telegram Bot
Requires=postgresql.service
Requires=nats-server.service

[Service]
Type=simple
User=webinar-app
WorkingDirectory=+WorkingDirectory=/home/webinar-user/webinar/
ExecStart=/home/webinar/webinar/venv/bin/webinar-bot --start broker_message
Restart=always

[Install]
WantedBy=multi-user.target
